body {
  min-height: 30em;
  max-height: 40em;
  height: 32.3em;
}

.row-accordion {
  min-height: 10em;
}

.option:hover {
  background-color: #CFF2F2;
}

.option {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}
